# PlatformIO build artifacts
.pio/
build/

# ESP-IDF Component Manager
managed_components/

# VS Code
.vscode/


# OS junk
.DS_Store
Thumbs.db

# ESP-IDF local config backups
sdkconfig.old
sdkconfig.*
sdkconfig*.old
!sdkconfig
